{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'word_cards/css/all_words_list.css' %}">

<div class="content_list">

  <div class="swith_block">
    <div class="some_title"> 
      <h5>Ваші вивчені слова</h5>
    </div>
    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'word_cards:last_ten' %}">10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'word_cards:last_twenty' %}">20</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'word_cards:last_fifty' %}">50</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'word_cards:all_words_list' %}">Всі слова</a>
        </li>
      </ul>
    </div>
  </div>

	<div class="table-wrapper-scroll-y">
    <table class="table table-bordered table-striped">
   		<thead>
      		<tr>      
        		<th class="col-en"> Слово </th>
        		<th class="col-ua"> Переклад </th>
        		<th class="col-data-head">Додано</th>
      		</tr>
    	</thead>
    	<tbody>
    		{% for item in fields %}
      		<tr>       		
        		<td class="col-en"> {{ item.en_word }} </td>
        		<td class="col-ua"> {{ item.ua_word }} </td>
        		<td class="col-data"  > {{ item.added_data }} </td>
      		</tr>
			 {% endfor %}
		  </tbody>
		</table>	
  </div>
</div>


<div class="delete_block">
  <div class="numb_input">
    <div class="input-group mb-3">
      <form action="#" method="post" name="name">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-success">Delete</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}





