{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'word_cards/css/choice.css' %}">


{% block content %}
<div class="choice_block">
	<div class="question">
	{{ for w in }}
		<h1>{{ en_words }}</h1>
	}
	}
	
	</div></br>
	<div class='ansver_block'>		
		{% for word in ua_words %}
	      	<ul class="nav nav-tabs">
	       		<li class="nav-item" >
	          		<input type="radio" name="process" value="discovery" id="discovery"/>
					<label class="choice" for="discovery">{{word}}</label>
	        	</li>
	        </ul></br>
		{% endfor%}
		<button type="submit" class="save btn btn-success">confirm</button>
	</div>
</div>
{% endblock %}

<label class="heading">What's your favorite part of the process?</label></br>

<input type="radio" name="process" value="discovery" id="discovery" checked />
<label class="choice" for="discovery">Discovery</label></br>

<input type="radio" name="process" value="design" id="design" /><label class="choice" for="design"> Design</label><br />

<input type="radio" name="process" value="development" id="development" /><label class="choice" for="development"> Development</label><br />

<input type="radio" name="process" value="quality assurance" id="quality_assurance" /><label class="choice" for="quality_assurance">Quality Assurance</label><br />

<input type="radio" name="process" value="launch" id="launch" /><label class="choice" for="launch">Launch</label><br />

<input type="radio" name="process" value="maintenance" id="maintenance" /><label class="choice" for="maintenance"> Maintenance</label>

<hr />


