{% extends 'base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'word_cards/css/just_been_added.css' %}">
<div class='just_b_add'>
	<div class='title_info'>
		<h4>You added this card</h4>	
	</div>
	<div class="flex-block">
		<div class='maincontainer'>
			<div class='thecard'>
				{% for w in word %}
				<div class="thefront">
					<h3>{{ w.en_word }}</h3>
					<button class="button">hold me</button>
				</div>
				<div class="theback"> 
					<h3>{{ w.ua_word }}</h3>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="action_block">
		<div class="remove_button">
			<a href=#>
				<button type="submit" class="btn btn-danger"> Видалити </button>
			</a>
		</div>
		<div class="confirm_button">
			<a href="{% url 'word_cards:add_words' %}">
				<button type="submit" class="btn btn-primary"> Все ОК </button>
			</a>
		</div>
	</div>
</div>

{% endblock %}