{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h1>Add new word</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy  }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Add word</button>
                        </div>
                        <div class="text-center mt-3">
                            {% if error_message %}
                                <h4 style="color: red;"> Enter words only with letters, without numbers and other characters !</h4>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
