{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h1>Words added successfully</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card-body text-center">
                <a href="{% url 'word_cards:add_new_words' %}">
                    <button type="submit" class="btn btn-success mr-3"> Add new word </button>
                </a>
                <a href="{% url 'word_cards:main_training_page' %}">
                    <button type="submit" class="btn btn-success mr-3"> Go training </button>
                </a>
                <a href="{% url 'word_cards:table_of_words' %}">
                    <button type="submit" class="btn btn-success"> Table of words </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock%}
