{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="flex-wrap">
    <div class="col-8 auto">
    <div class="table-wrapper-scroll-y">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="table-success">
            <th scope="col">№</th>
            <th scope="col">Слово</th>
            <th scope="col">Переклад</th>
            <th scope="col">Додано</th>
          </tr>
        </thead>
        <tbody>
           {% for item in fields %}
          <tr>
            <td>{{ forloop.revcounter }}</td>
            <td>{{ item.en_word }}</td>
            <td>{{ item.ua_word }}</td>
            <td>{{ item.added_data }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
      <div class="col-4">
          <div class="card">
              <div class="card-body">
                  <div class="text-center">
                    <h3 >Delete word</h3>
                  </div>
                  <div class="text-center">
                   <form method="post">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <button type="submit" class="btn btn-success"> Delete </button>
                  </form>
                  </div>
              </div>
          </div>
      </div>
</div>

{% endblock %}
