<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title> start </title>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'word_cards/css/static.css' %}">
	</head>

	<body >
		<div class="top">
			<div class="menu">


				<div class="dropdown show">
	  				<a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    			Тренування
	 				</a>

	  				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	    				<a class="dropdown-item" href="{% url 'word_cards:flip_cards' %}"> Флеш картки </a>

	    				<a class="dropdown-item" href="#"> Something else here </a>
	  				</div>
				</div>



				<form action="#" method="get">
					<button type="button" class="btn btn-success"> Повторення </button>
				</form>
				<form action="#" method="get">
					<button type="button" class="btn btn-success"> Методика навчання </button>
				</form>
			</div>
		</div>
		<div class="content">
			{% block content %}

			{% endblock content %}
		</div>
		<div class="bottom">
			<div>
				<h2> Bottom </h2>
			</div>	
		</div>
	</body>
</html>