{% extends 'registration/base.html' %}
{% block content %}
    <h1> Welcome page </h1>
    <h2> Welcome:
            {% if user.is_authenticated %} {{ user.username }}
            {% else %} Visitor
            {% endif %}
    </h2>
    <strong> Total user registered: {{ count }} </strong>
    <h3>The site is designed to help people who are learning English,
        specifically working to replenish their vocabulary.
    </h3>
    <h3>For better word memorization, we suggest to use multiple repetitions with the help of different methods:
    </h3>
    <ul>
        <li>
            <h3>Method of cards</h3>
        </li>
        <li>
            <h3>Tests from English to Ukrainian</h3>
        </li>
        <li>
            <h3>Tests fromUkrainian to English<h3>
        </li>
    </ul>
{% endblock%}