{% extends 'registration/base.html' %}
{% block content %}

<div class="row justify-content-center pt-4 mb-4">
    <div class="col-6 text-start">
        <h1 > Main page</h1>
    </div>
    <div class="col-6 text-center">
        <h2> Welcome:
            {% if user.is_authenticated %} {{ user.username }}
            {% else %} Visitor
            {% endif %}
        </h2>
        <h3>Total user registered: {{ count }}</h3>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <h1>Studing English words easy</h1>
</div>
    <h3>The site is designed to help people who are learning English,
        specifically working to replenish their vocabulary.
    </h3>
    <h3>For better word memorization, we suggest to use multiple repetitions with the help of different methods:
    </h3>
    <ul>
        <li>
            <h3>Method of cards</h3>
        </li>
        <li>
            <h3>Tests from English to Ukrainian</h3>
        </li>
        <li>
            <h3>Tests fromUkrainian to English<h3>
        </li>
    </ul>
    <h3>
        For a better result, we invite you to study 5 new words per day and practice them through exercises until
        complete memorization, only after that add five new words.
        Repeat it every day and in a month you will learn 150 new words.
    </h3>
{% endblock%}